@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

body {
    font-size: 18px;
    font-family: 'Space Grotesk', sans-serif;
}

.main-container {
    display: flex;
    justify-content: space-between;
}

.card-wrapper {
    display: flex;
    flex-direction: column;
    margin: 20% auto;
    position: absolute;
    left: 10px;
}

.card-front {
    margin-bottom: 2rem;
    position: absolute;
    left: 190px;
}

.card-back {
    position: absolute;
    left: 300px;
    top: 260px;
}

.left-pane {
    background-color: hsl(278, 68%, 11%);
    height: 100vh;
    width: 40%;
    background: linear-gradient(40deg, hsl(278, 68%, 11%), hsl(249, 99%, 64%), hsl(278, 94%, 30%));
}

.card-type {
    position: absolute;
    top: 24px;
    left: 35px;
    height: 18%;
    width: 10%;
    border-radius: 100%;
    background-color: whitesmoke;

}

.card-type::after {
    content: '';
    position: absolute;
    top: 13px;
    left: 65px;
    width: 50%;
    height: 50%;
    border-radius: 100%;
    border: 1px solid whitesmoke;
}

.card-number {
    position: absolute;
    top: 90px;
    left: 35px;
    font-size: 33px;
    color: whitesmoke;
}

.card-name-expiry {
    display: flex;
    justify-content: space-between;
    width: 82%;
    padding: 0 35px;
    position: absolute;
    top: 190px;
}

.card-name,
.card-expiry {
    color: whitesmoke;
}

.cvv-number {
    position: absolute;
    left: 356px;
    top: 91px;
    color: whitesmoke;
}


.submission-pop-up {
    display: none;
}